<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- create correct string with escape charaters using https://www.freeformatter.com/xml-escape.html -->
    <add key="mykeyboardid" value="\\?\ACPI#HPQ8002#4&amp;35d0e288&amp;0#{884b96c3-56ef-11d1-bc8c-00a0c91405dd}" />
    <!-- default location C:\Soundboard\Audio\-->
    <add key="wavfileslocation" value="C:\Soundboard\Audio\" />
  </appSettings>
</configuration>